:root {
  --color-light: #ffffff;
  --color-gray: #dddddd;
  --color-grayer: #aaaaaa;
  --color-dark: #333333;
  --color-1: #1184e2;
  --color-1B: #004db1;
  --color-2: #ee451b;
  --color-2B: #a71409;
  --color-3: #ffac5e;
  --color-3B: #f17c4e;
  --color-4: #07e3e3;
  --color-4B: #0097d3;
  --color-right-1: var(--color-1);
  --color-right-2: var(--color-1B);
  --color-right-3: #ccd9f4;
  --color-wrong-1: var(--color-2);
  --color-wrong-2: var(--color-2B);
  --color-wrong-3: #f8cfcc;
  --color-text: var(--color-dark);
  --color-bg: var(--color-light);
}

* {
  padding: 0;
  margin: 0;
  color: inherit;
  list-style: none;
  background: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  box-sizing: border-box;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  color: var(--color-text);
  background: var(--color-bg);
}

html {
  overflow-y: scroll;
}

.hidden {
  display: none !important;
}

.canvas-overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "FiraSansBold";
  src: url("../fonts/FiraSans-Medium.ttf");
}
body {
  font-family: FiraSans, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

* {
  font-size: 1em;
  font-weight: normal;
  font-family: inherit;
}

h1 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.25rem;
}

h3, h4, h5, h6 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1rem;
}

a {
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  user-select: none;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  width: 32px;
  height: 32px;
}
.icon.englishtango {
  background-image: url(../media/englishtango.png);
}
.icon.practice {
  background-image: url(../media/practice.png);
}
.icon.study {
  background-image: url(../media/study.png);
}
.icon.vocabulary {
  background-image: url(../media/vocabulary.png);
}
.icon.quests {
  background-image: url(../media/quests.png);
}
.icon.settings {
  background-image: url(../media/settings.png);
}
.icon.english {
  background-image: url(../media/english.png);
}
.icon.fire {
  background-size: 28px;
  background-image: url(../media/fire.png);
}
.icon.bolt {
  background-size: 30px;
  background-image: url(../media/bolt.png);
}
.icon.gem {
  background-size: 30px;
  background-image: url(../media/gem.png);
}
.icon.chest {
  background-image: url(../media/chest.png);
}
.icon.quest-exercise {
  background-image: url(../media/quest_exercise.png);
}
.icon.quest-locked {
  background-image: url(../media/quest_locked.png);
}
.icon.quest-bolt {
  background-image: url(../media/quest_bolt.png);
}
.icon.quest-fire {
  background-image: url(../media/quest_fire.png);
}
.icon.quest-gem {
  background-image: url(../media/quest_gem.png);
}
.icon.inf {
  background-image: url(../media/inf.png);
}
.icon.ps {
  background-image: url(../media/ps.png);
}
.icon.pp {
  background-image: url(../media/pp.png);
}
.icon.cross {
  background-image: url(../media/cross.svg);
}
.icon.right {
  background-image: url(../media/right.svg);
  background-size: 48px;
  width: 48px;
  height: 48px;
}
.icon.wrong {
  background-image: url(../media/wrong.svg);
  background-size: 48px;
  width: 48px;
  height: 48px;
}
.icon.win {
  background-image: url(../media/win.png);
  background-size: 128px;
  width: 128px;
  height: 128px;
}

.flat-button {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  color: var(--color-light);
  height: 48px;
  width: 100%;
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  user-select: none;
}
.flat-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 14px;
  top: 4px;
  display: flex;
  align-items: start;
  background-color: var(--color-dark);
}
.flat-button > * {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 14px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grayer);
  transition: top 0.04s ease;
}
.flat-button.checked > * {
  background-color: var(--color-dark);
  top: 4px;
}
.flat-button:active > * {
  top: 8px;
}

.round.flat-button {
  width: 64px;
  height: 64px;
  border-radius: 50%/calc(50% - 3px);
}
.round.flat-button::before {
  border-radius: 50%;
  height: calc(100% - 6px);
  top: 6px;
}
.round.flat-button > * {
  border-radius: 50%;
  height: calc(100% - 6px);
  font-size: 1.75rem;
}
.round.flat-button.checked > * {
  top: 6px;
}
.round.flat-button:active > * {
  top: 12px;
}

.square.flat-button {
  width: 64px;
  height: 64px;
  border-radius: 24px;
}
.square.flat-button::before {
  border-radius: 24px;
  height: calc(100% - 6px);
  top: 6px;
}
.square.flat-button > * {
  border-radius: 24px;
  height: calc(100% - 6px);
  font-size: 1.75rem;
}
.square.flat-button.checked > * {
  top: 6px;
}
.square.flat-button:active > * {
  top: 12px;
}

.flat-button.border > * {
  border: 2px solid var(--color-dark);
}

.color1.flat-button > * {
  background-color: var(--color-1);
  border-color: var(--color-1B);
}
.color1.flat-button::before, .color1.flat-button.checked > * {
  background-color: var(--color-1B);
}

.color2.flat-button > * {
  background-color: var(--color-2);
  border-color: var(--color-2B);
}
.color2.flat-button::before, .color2.flat-button.checked > * {
  background-color: var(--color-2B);
}

.color3.flat-button > * {
  background-color: var(--color-3);
  border-color: var(--color-3B);
}
.color3.flat-button::before, .color3.flat-button.checked > * {
  background-color: var(--color-3B);
}

.color4.flat-button > * {
  background-color: var(--color-4);
  border-color: var(--color-4B);
}
.color4.flat-button::before, .color4.flat-button.checked > * {
  background-color: var(--color-4B);
}

.gray.flat-button > * {
  background-color: var(--color-light);
  border-color: var(--color-gray);
  color: var(--color-grayer);
}
.gray.flat-button::before, .gray.flat-button.checked > * {
  background-color: var(--color-gray);
}

.flat-button:disabled > * {
  background-color: var(--color-gray);
}
.flat-button:disabled::before {
  background-color: var(--color-grayer);
}
.flat-button:disabled:disabled > * {
  top: 4px;
  cursor: default;
}
.flat-button:disabled:disabled.checked > * {
  background-color: var(--color-grayer);
}

.round.flat-button:disabled > *,
.square.flat-button:disabled > * {
  top: 6px;
}

span.pop {
  animation: popAnimation 0.2s linear;
}

@keyframes popAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.075);
  }
  100% {
    transform: scale(1);
  }
}
.response__symbol.pop {
  animation: popAnimationSymbol 0.2s linear;
}

@keyframes popAnimationSymbol {
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
:root {
  --width-1: min(100vw, 920px);
  --width-2: min(100vw, 600px);
  --lateral-padding: 40px;
  --top-padding: 50px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: var(--top-padding);
  padding-bottom: 140px;
}

.progress {
  padding: 0 var(--lateral-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: var(--width-1);
}
.progress__bar {
  height: 16px;
  flex: 1 0 0;
  border-radius: 8px;
  overflow: hidden;
  background: var(--color-gray);
}
.progress__bar__fill {
  height: 100%;
  width: 0%;
  border-radius: 8px;
  overflow: hidden;
  background: var(--color-1);
  transition: width 0.15s ease-in-out;
}
.progress__bar__fill__highlight {
  height: 4px;
  margin: 0 8px;
  margin-top: 4px;
  border-radius: 8px;
  background: var(--color-1);
  filter: brightness(1.4);
}
.progress .icon {
  background-size: 20px;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
}

.exercice {
  padding: 40px var(--lateral-padding);
  width: var(--width-2);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exercice h3 {
  padding-bottom: 40px;
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
}
.exercice__display {
  padding-bottom: 80px;
  font-size: 1.25rem;
  line-height: 1.75em;
}
.exercice__display .unknown {
  width: 70px;
  height: 1.75rem;
  border-bottom: 2px solid var(--color-grayer);
  vertical-align: middle;
  display: inline-block;
}
.exercice__answer {
  border-radius: 8px;
  padding: 8px;
  border: 2px solid var(--color-gray);
  background-color: #F7F7F7;
  font-size: 1.25rem;
  height: calc(1.5rem + 16px + 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}
.exercice__answer.wrong {
  border-color: var(--color-wrong-1);
  color: var(--color-wrong-1);
}
.exercice__answer.right {
  border-color: var(--color-right-1);
  color: var(--color-right-1);
}

.banner {
  padding: 0 var(--lateral-padding);
  width: 100%;
  height: 140px;
  background: white;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.banner__container {
  width: var(--width-1);
  height: 100%;
  margin: 0 auto;
  gap: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__container * {
  flex: 1;
}
.banner h3 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 12px;
}
.banner__side {
  gap: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}
.banner .flat-button {
  font-size: 1rem;
}
.banner__symbol {
  flex: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner.over, .banner.user-input {
  border-top: 2px solid var(--color-gray);
}
.banner.right {
  background: var(--color-right-3);
  color: var(--color-right-2);
}
.banner.wrong {
  background: var(--color-wrong-3);
  color: var(--color-wrong-2);
}
.banner.overlay {
  position: fixed;
  bottom: -140px;
  width: 100%;
  transition: bottom 0.2s ease-in-out;
}
.banner.overlay.show-transition {
  bottom: 0;
}

.black-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.65);
  transition: opacity 0.2s linear;
  opacity: 0;
}
.black-overlay.show-transition {
  opacity: 1;
}

.gameover {
  width: min(100vw, 500px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 var(--lateral-padding);
  gap: 20px;
}
.gameover__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}
.gameover__header > span {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
  color: var(--color-2);
}
.gameover__progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  width: 100%;
}
.gameover__progress__level {
  height: 28px;
  font-family: FiraSansBold, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 6px;
  background: linear-gradient(to bottom, var(--color-3B), var(--color-3));
  border-radius: 10px;
}
.gameover__progress__bar {
  height: 16px;
  flex: 1;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
  background: var(--color-gray);
}
.gameover__progress__bar__fill {
  height: 100%;
  width: 0%;
  border-radius: 8px;
  overflow: hidden;
  background: var(--color-3);
  transition: width 0.15s ease-in-out;
}
.gameover__progress__bar__fill__highlight {
  height: 4px;
  margin: 0 8px;
  margin-top: 4px;
  border-radius: 8px;
  background: var(--color-3);
  filter: brightness(1.4);
}

.advancement {
  min-height: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--color-gray);
  border-radius: 14px;
  padding: 16px;
  font-family: FiraSansBold, sans-serif;
  font-size: 1.25rem;
}
.advancement h1 {
  padding-top: 16px;
}
.advancement > .icon {
  background-size: 48px;
  width: 64px;
  height: 64px;
}
.advancement.locked {
  background: #f7f7f7;
  color: var(--color-grayer);
}
.advancement__side {
  height: 100%;
  flex: 1;
  gap: 6px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.advancement .quest-fire.icon {
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  background-size: 48px 48px;
  background-position: center top;
}
.advancement .quest-fire.icon span {
  font-size: 3rem;
  line-height: 3rem;
  font-family: FiraSansBold, sans-serif;
  width: 100%;
  text-align: center;
  background: #f77e54;
  -webkit-text-stroke: 8px;
  -webkit-text-stroke-color: transparent;
  background-clip: text;
}
.advancement__progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.advancement__progress__bar {
  height: 16px;
  flex: 1;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
  background: var(--color-gray);
}
.advancement__progress__bar__fill {
  height: 100%;
  width: 0%;
  border-radius: 8px;
  overflow: hidden;
  background: var(--color-3);
  transition: width 0.15s ease-in-out;
}
.advancement__progress__bar__fill__highlight {
  height: 4px;
  margin: 0 8px;
  margin-top: 4px;
  border-radius: 8px;
  background: var(--color-3);
  filter: brightness(1.4);
}

@media (max-width: 640px) {
  :root {
    --lateral-padding: 16px;
    --top-padding: 24px;
  }
  .banner {
    padding-top: 24px;
    padding-bottom: 24px;
    height: fit-content;
  }
  .banner__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .banner__container > * {
    flex: none;
  }
  .banner__symbol {
    display: none;
  }
  .banner.user-input {
    border-top: none;
  }
  .banner.user-input .gray {
    display: none;
  }
  .banner.over .banner__side {
    display: none;
  }
}
