:root {
  --color-light: #ffffff;
  --color-gray: #dddddd;
  --color-grayer: #aaaaaa;
  --color-dark: #333333;
  --color-1: #1184e2;
  --color-1B: #004db1;
  --color-2: #ee451b;
  --color-2B: #a71409;
  --color-3: #ffac5e;
  --color-3B: #f17c4e;
  --color-4: #07e3e3;
  --color-4B: #0097d3;
  --color-right-1: var(--color-1);
  --color-right-2: var(--color-1B);
  --color-right-3: #ccd9f4;
  --color-wrong-1: var(--color-2);
  --color-wrong-2: var(--color-2B);
  --color-wrong-3: #f8cfcc;
  --color-text: var(--color-dark);
  --color-bg: var(--color-light);
}

* {
  padding: 0;
  margin: 0;
  color: inherit;
  list-style: none;
  background: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  box-sizing: border-box;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

b {
  font-family: FiraSansBold, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  color: var(--color-text);
  background: var(--color-bg);
}

html {
  overflow-y: scroll;
}

.unloaded {
  display: none !important;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}

.canvas-overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "FiraSansBold";
  src: url("../fonts/FiraSans-Medium.ttf");
}
body {
  font-family: FiraSans, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

* {
  font-size: 1em;
  font-weight: normal;
  font-family: inherit;
}

h1 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.25rem;
}

h3, h4, h5, h6 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1rem;
}

a {
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  user-select: none;
}

b {
  font-family: FiraSansBold, sans-serif;
}

code {
  display: inline-block;
  font-family: FiraSansBold, sans-serif;
  padding: 0 4px;
  font-size: 85%;
  background-color: rgba(127, 127, 127, 0.1);
  border-radius: 2px;
}

.small-heartbeat {
  animation: smallHeartbeatAnimation 0.15s linear;
}

@keyframes smallHeartbeatAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}
.heartbeat {
  animation: heartbeatAnimation 0.15s linear;
}

@keyframes heartbeatAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.big-heartbeat {
  animation: heartbeatAnimation 0.2s linear;
}

@keyframes bigHeartbeatAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.pop {
  animation: popAnimation 0.2s linear;
}

@keyframes popAnimation {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.arise {
  animation: ariseAnimation 0.4s ease-out;
}

@keyframes ariseAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.ignite-fire {
  animation: igniteAnimation 0.2s linear;
}

@keyframes igniteAnimation {
  0% {
    background-size: 0px 0px;
  }
  100% {
    background-size: 48px 48px;
  }
}
.flicker-fire {
  animation: flickerAnimation 0.1s linear infinite;
}

@keyframes flickerAnimation {
  0% {
    background-size: 44px 48px;
  }
  50% {
    background-size: 48px 44px;
  }
  100% {
    background-size: 48px 48px;
  }
}
.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  width: 32px;
  height: 32px;
}
.icon.englishtango {
  background-image: url(../media/englishtango.png);
}
.icon.practice {
  background-image: url(../media/practice.png);
}
.icon.study {
  background-image: url(../media/study.png);
}
.icon.vocabulary {
  background-image: url(../media/vocabulary.png);
}
.icon.quests {
  background-image: url(../media/quests.png);
}
.icon.settings {
  background-image: url(../media/settings.png);
}
.icon.english {
  background-image: url(../media/english.png);
}
.icon.fire {
  background-size: 28px;
  background-image: url(../media/fire.png);
}
.icon.bolt {
  background-size: 30px;
  background-image: url(../media/bolt.png);
}
.icon.gem {
  background-size: 30px;
  background-image: url(../media/gem.png);
}
.icon.audio {
  background-size: 30px;
  background-image: url(../media/audio.png);
}
.icon.song {
  background-size: 30px;
  background-image: url(../media/song.png);
}
.icon.chest {
  background-image: url(../media/chest.png);
}
.icon.large-exercise {
  background-image: url(../media/large_exercise.png);
}
.icon.large-locked {
  background-image: url(../media/large_locked.png);
}
.icon.large-bolt {
  background-image: url(../media/large_bolt.png);
}
.icon.large-fire {
  background-image: url(../media/large_fire.png);
}
.icon.large-gem {
  background-image: url(../media/large_gem.png);
}
.icon.inf {
  background-image: url(../media/inf.png);
}
.icon.ps {
  background-image: url(../media/ps.png);
}
.icon.pp {
  background-image: url(../media/pp.png);
}
.icon.cross {
  background-image: url(../media/cross.svg);
  background-size: 24px;
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.icon.right {
  background-image: url(../media/right.svg);
  background-size: 48px;
  width: 48px;
  height: 48px;
}
.icon.wrong {
  background-image: url(../media/wrong.svg);
  background-size: 48px;
  width: 48px;
  height: 48px;
}
.icon.win {
  background-image: url(../media/win.png);
  background-size: 128px;
  width: 128px;
  height: 128px;
}

.flat-button {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  color: var(--color-light);
  height: 48px;
  width: 100%;
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  user-select: none;
}
.flat-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 14px;
  top: 4px;
  display: flex;
  align-items: start;
  background-color: var(--color-dark);
}
.flat-button > * {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 14px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grayer);
  transition: top 0.04s ease;
}
.flat-button.checked > * {
  background-color: var(--color-dark);
  top: 4px;
}
.flat-button:active > * {
  top: 8px;
}

.round.flat-button {
  width: 64px;
  height: 64px;
  border-radius: 50%/calc(50% - 3px);
}
.round.flat-button::before {
  border-radius: 50%;
  height: calc(100% - 6px);
  top: 6px;
}
.round.flat-button > * {
  border-radius: 50%;
  height: calc(100% - 6px);
  font-size: 1.75rem;
}
.round.flat-button.checked > * {
  top: 6px;
}
.round.flat-button:active > * {
  top: 12px;
}

.square.flat-button {
  width: 64px;
  height: 64px;
  border-radius: 24px;
}
.square.flat-button::before {
  border-radius: 24px;
  height: calc(100% - 6px);
  top: 6px;
}
.square.flat-button > * {
  border-radius: 24px;
  height: calc(100% - 6px);
  font-size: 1.75rem;
}
.square.flat-button.checked > * {
  top: 6px;
}
.square.flat-button:active > * {
  top: 12px;
}

.flat-button.border > * {
  border: 2px solid var(--color-dark);
}

.color1.flat-button > * {
  background-color: var(--color-1);
  border-color: var(--color-1B);
}
.color1.flat-button::before, .color1.flat-button.checked > * {
  background-color: var(--color-1B);
}

.color2.flat-button > * {
  background-color: var(--color-2);
  border-color: var(--color-2B);
}
.color2.flat-button::before, .color2.flat-button.checked > * {
  background-color: var(--color-2B);
}

.color3.flat-button > * {
  background-color: var(--color-3);
  border-color: var(--color-3B);
}
.color3.flat-button::before, .color3.flat-button.checked > * {
  background-color: var(--color-3B);
}

.color4.flat-button > * {
  background-color: var(--color-4);
  border-color: var(--color-4B);
}
.color4.flat-button::before, .color4.flat-button.checked > * {
  background-color: var(--color-4B);
}

.gray.flat-button > * {
  background-color: var(--color-light);
  border-color: var(--color-gray);
  color: var(--color-grayer);
}
.gray.flat-button::before, .gray.flat-button.checked > * {
  background-color: var(--color-gray);
}

.flat-button:disabled > * {
  background-color: var(--color-gray);
}
.flat-button:disabled::before {
  background-color: var(--color-grayer);
}
.flat-button:disabled:disabled > * {
  top: 4px;
  cursor: default;
}
.flat-button:disabled:disabled.checked > * {
  background-color: var(--color-grayer);
}

.round.flat-button:disabled > *,
.square.flat-button:disabled > * {
  top: 6px;
}

.progress-bar {
  height: 16px;
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
  background: var(--color-gray);
}
.progress-bar__fill {
  height: 100%;
  width: 0%;
  border-radius: 8px;
  overflow: hidden;
  background: var(--color-1);
  transition: width 0.15s ease-in-out;
}
.progress-bar__fill__highlight {
  height: 4px;
  margin: 0 8px;
  margin-top: 4px;
  border-radius: 8px;
  background: inherit;
  filter: brightness(1.4);
}

.advancement {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--color-gray);
  border-radius: 14px;
  padding: 16px;
  align-self: stretch;
  font-family: FiraSansBold, sans-serif;
  font-size: 1rem;
}
.advancement h1 {
  padding-top: 16px;
}
.advancement > .icon {
  background-size: 48px;
  width: 64px;
  height: 64px;
}
.advancement.locked {
  background: #f7f7f7;
  color: var(--color-grayer);
}
.advancement__side {
  height: 100%;
  flex: 1;
  gap: 6px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.advancement.streak:not(.checked) .icon {
  background-image: none;
}
.advancement.streak.checked .icon span {
  text-shadow: -4px -4px 0 #f77e54, 4px -4px 0 #f77e54, -4px 4px 0 #f77e54, 4px 4px 0 #f77e54, -4px 0 0 #f77e54, 4px 0 0 #f77e54, 0 -4px 0 #f77e54, 0 4px 0 #f77e54;
}
.advancement.streak .icon {
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  background-size: 48px 48px;
  background-position: center bottom 16px;
}
.advancement.streak .icon span {
  font-size: 3rem;
  line-height: 3rem;
  font-family: FiraSansBold, sans-serif;
  width: 100%;
  text-align: center;
  text-shadow: -4px -4px 0 var(--color-grayer), 4px -4px 0 var(--color-grayer), -4px 4px 0 var(--color-grayer), 4px 4px 0 var(--color-grayer), -4px 0 0 var(--color-grayer), 4px 0 0 var(--color-grayer), 0 -4px 0 var(--color-grayer), 0 4px 0 var(--color-grayer);
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  user-select: none;
}
.advancement.gems {
  font-size: 1.25rem;
  color: var(--color-2);
}
.advancement.gems span {
  width: fit-content;
}
.advancement__days {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex: 1;
  overflow: hidden;
  mask-image: linear-gradient(to left, transparent 0px, black 30px, black calc(100% - 30px), transparent 100%);
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  user-select: none;
}
.advancement__days .day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.advancement__days .day span {
  font-family: FiraSansBold, sans-serif;
  font-size: 1rem;
  color: var(--color-grayer);
}
.advancement__days .day div {
  background: var(--color-gray);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.advancement__days .day.checked span {
  color: var(--color-3B);
}
.advancement__days .day.checked div {
  background-color: var(--color-3B);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-image: url(../media/check.svg);
}
.advancement__progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.advancement__progress .progress-bar {
  border-radius: 8px 0 0 8px;
}
.advancement__progress .progress-bar__fill {
  background: var(--color-3);
}

.banner {
  padding: 0 var(--lateral-padding);
  width: 100%;
  height: 140px;
  background: white;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 50;
}
.banner__container {
  width: var(--width-1);
  height: 100%;
  margin: 0 auto;
  gap: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__container * {
  flex: 1;
}
.banner h3 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 12px;
}
.banner__side {
  gap: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}
.banner .flat-button {
  font-size: 1rem;
}
.banner__symbol {
  flex: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner.over, .banner.user-input {
  border-top: 2px solid var(--color-gray);
}
.banner.right {
  background: var(--color-right-3);
  color: var(--color-right-2);
}
.banner.wrong {
  background: var(--color-wrong-3);
  color: var(--color-wrong-2);
}
.banner.overlay {
  position: fixed;
  bottom: -140px;
  width: 100%;
  transition: bottom 0.2s ease-in-out;
}
.banner.overlay.show-transition {
  bottom: 0;
}

:root {
  --width-1: min(100vw, 920px);
  --width-2: min(100vw, 600px);
  --lateral-padding: 40px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 190px;
}

.progress {
  padding: 0 var(--lateral-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: var(--width-1);
}

.exercice {
  padding: 40px var(--lateral-padding);
  width: var(--width-2);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exercice h3 {
  padding-bottom: 40px;
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
}
.exercice__display {
  padding-bottom: 80px;
  font-size: 1.25rem;
  line-height: 1.75em;
}
.exercice__display .unknown {
  width: 70px;
  height: 1.75rem;
  border-bottom: 2px solid var(--color-grayer);
  vertical-align: middle;
  display: inline-block;
}
.exercice__answer {
  border-radius: 8px;
  padding: 8px;
  border: 2px solid var(--color-gray);
  background-color: #F7F7F7;
  font-size: 1.25rem;
  height: calc(1.5rem + 16px + 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}
.exercice__answer.wrong {
  border-color: var(--color-wrong-1);
  color: var(--color-wrong-1);
}
.exercice__answer.right {
  border-color: var(--color-right-1);
  color: var(--color-right-1);
}

.black-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.65);
  transition: opacity 0.2s linear;
  opacity: 0;
}
.black-overlay.show-transition {
  opacity: 1;
}

.gameover {
  width: min(100vw, 500px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 var(--lateral-padding);
  gap: 20px;
  margin: 0;
  transition: margin 0.5s ease-in-out;
}
.gameover.centered {
  margin-top: 26vh;
}
.gameover__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.gameover__header h3 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
  color: var(--color-2);
}
.gameover__progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  width: 100%;
}
.gameover__progress__level {
  height: 28px;
  font-family: FiraSansBold, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 6px;
  background: linear-gradient(to bottom, var(--color-3B), var(--color-3));
  border-radius: 10px;
}
.gameover__progress .progress-bar {
  border-radius: 8px 0 0 8px;
}
.gameover__progress .progress-bar__fill {
  background: var(--color-3);
  transition: none;
}
.gameover__advancements {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}
.gameover__advancements .progress-bar__fill {
  transition: width 0.8s ease-in-out;
}
.gameover__advancements .advancement {
  margin-top: 20px;
}
.gameover__advancements > h3 {
  margin-top: 32px;
  font-family: FiraSansBold, sans-serif;
  font-size: 1.25rem;
  color: #777;
  text-align: center;
}
.gameover__advancements > span {
  font-size: 1rem;
  color: #777;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 640px) {
  :root {
    --lateral-padding: 16px;
    --top-padding: 24px;
  }
  .banner {
    padding-top: 24px;
    padding-bottom: 24px;
    height: fit-content;
  }
  .banner__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .banner__container > * {
    flex: none;
  }
  .banner__symbol {
    display: none;
  }
  .banner.user-input {
    border-top: none;
  }
  .banner.user-input .gray {
    display: none;
  }
  .banner.over .banner__side {
    display: none;
  }
}
