:root {
  --color-light: #ffffff;
  --color-gray: #dddddd;
  --color-grayer: #aaaaaa;
  --color-dark: #555555;
  --color-1: #1184e2;
  --color-1B: #004db1;
  --color-2: #ee451b;
  --color-2B: #a71409;
  --color-3: #ffac5e;
  --color-3B: #f17c4e;
  --color-4: #07e3e3;
  --color-4B: #0097d3;
  --color-right-1: var(--color-1);
  --color-right-2: var(--color-1B);
  --color-right-3: rgba(17, 132, 226, 0.4);
  --color-wrong-1: var(--color-2);
  --color-wrong-2: var(--color-2B);
  --color-wrong-3: rgba(238, 69, 27, 0.4);
  --color-text: var(--color-dark);
  --color-bg: var(--color-light);
}

:root {
  --bg: #000;
  --bg2: #000;
  --text: #000;
  --border: none;
  --border-radius: none;
  --button-bg: #000;
  --button-text: #000;
  --button-hover-bg: #000;
  --button-active-bg: #000;
  --button-disabled-box-shadow: none;
  --button-selected-box-shadow: none;
}

* {
  padding: 0;
  margin: 0;
  color: inherit;
  list-style: none;
  background: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  box-sizing: border-box;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  color: var(--color-text);
  background: var(--color-bg);
}

.hidden {
  display: none !important;
}

.canvas-overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "FiraSansBold";
  src: url("../fonts/FiraSans-Medium.ttf");
}
body {
  font-family: FiraSans, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

* {
  font-size: 1em;
  font-weight: normal;
  font-family: inherit;
}

h1 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.25rem;
}

h3, h4, h5, h6 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1rem;
}

a {
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  user-select: none;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  width: 32px;
  height: 32px;
}
.icon.practice {
  background-image: url(../media/practice.png);
}
.icon.study {
  background-image: url(../media/study.png);
}
.icon.vocabulary {
  background-image: url(../media/vocabulary.png);
}
.icon.experience {
  background-image: url(../media/experience.png);
}
.icon.settings {
  background-image: url(../media/settings.png);
}
.icon.chest {
  background-image: url(../media/chest.png);
}
.icon.english {
  background-image: url(../media/english.png);
}
.icon.fire {
  background-size: 28px;
  background-image: url(../media/fire.png);
}
.icon.bolt {
  background-size: 30px;
  background-image: url(../media/bolt.png);
}
.icon.gem {
  background-size: 30px;
  background-image: url(../media/gem.png);
}
.icon.inf {
  background-image: url(../media/inf.png);
}
.icon.ps {
  background-image: url(../media/ps.png);
}
.icon.pp {
  background-image: url(../media/pp.png);
}
.icon.cross {
  background-image: url(../media/cross.svg);
}
.icon.right {
  background-image: url(../media/right.svg);
  background-size: 48px;
  width: 48px;
  height: 48px;
}
.icon.wrong {
  background-image: url(../media/wrong.svg);
  background-size: 48px;
  width: 48px;
  height: 48px;
}

.flat-button {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  color: var(--color-light);
  height: 48px;
  width: 100%;
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  user-select: none;
}
.flat-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 14px;
  top: 4px;
  display: flex;
  align-items: start;
  background-color: var(--color-dark);
}
.flat-button > * {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 14px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
  transition: top 0.04s ease;
}
.flat-button:hover > *, .flat-button:hover::before {
  cursor: pointer;
}
.flat-button.checked > *, .flat-button.checked::before {
  filter: brightness(0.8);
}
.flat-button:disabled > * {
  top: 4px;
}
.flat-button.checked > * {
  top: 8px;
}
.flat-button:active > * {
  top: 12px;
}
.flat-button:disabled:active > * {
  top: 8px;
}

.round.flat-button {
  width: 64px;
  height: 64px;
  border-radius: 50%/calc(50% - 3px);
}
.round.flat-button::before {
  border-radius: 50%;
  height: calc(100% - 6px);
  top: 6px;
}
.round.flat-button > * {
  border-radius: 50%;
  height: calc(100% - 6px);
  font-size: 1.75rem;
}
.round.flat-button.checked > * {
  top: 12px;
}
.round.flat-button:active > * {
  top: 18px;
}

.square.flat-button {
  width: 64px;
  height: 64px;
  border-radius: 24px;
}
.square.flat-button::before {
  border-radius: 24px;
  height: calc(100% - 6px);
  top: 6px;
}
.square.flat-button > * {
  border-radius: 24px;
  height: calc(100% - 6px);
  font-size: 1.75rem;
}
.square.flat-button.checked > * {
  top: 12px;
}
.square.flat-button:active > * {
  top: 18px;
}

.flat-button.border > * {
  border: 2px solid var(--color-dark);
}

.color1.flat-button > * {
  background-color: var(--color-1);
  border-color: var(--color-1B);
}
.color1.flat-button::before {
  background-color: var(--color-1B);
}

.color2.flat-button > * {
  background-color: var(--color-2);
  border-color: var(--color-2B);
}
.color2.flat-button::before {
  background-color: var(--color-2B);
}

.color3.flat-button > * {
  background-color: var(--color-3);
  border-color: var(--color-3B);
}
.color3.flat-button::before {
  background-color: var(--color-3B);
}

.color4.flat-button > * {
  background-color: var(--color-4);
  border-color: var(--color-4B);
}
.color4.flat-button::before {
  background-color: var(--color-4B);
}

.gray.flat-button > * {
  background-color: var(--color-light);
  border-color: var(--color-gray);
  color: var(--color-grayer);
}
.gray.flat-button::before {
  background-color: var(--color-gray);
}

.flat-button:disabled > * {
  background-color: var(--color-gray);
}
.flat-button:disabled::before {
  background-color: var(--color-grayer);
}

:root {
  --width-1: 920px;
  --width-2: 600px;
  --lateral-margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.progress {
  margin: 0 var(--lateral-margin);
  padding-top: 54px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.progress__bar {
  height: 16px;
  width: var(--width-1);
  border-radius: 8px;
  overflow: hidden;
  background: var(--color-gray);
}
.progress__bar__fill {
  height: 100%;
  width: 0%;
  border-radius: 8px;
  overflow: hidden;
  background: var(--color-1);
}
.progress__bar__fill__highlight {
  height: 4px;
  margin: 0 8px;
  margin-top: 4px;
  border-radius: 8px;
  background: var(--color-1);
  filter: brightness(1.4);
}
.progress .icon {
  background-size: 24px;
  min-width: 24px;
  min-height: 24px;
  width: unset;
  height: unset;
}

.exercice {
  width: var(--width-2);
  margin: var(--lateral-margin);
  padding: 40px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exercice h3 {
  padding-bottom: 40px;
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
}
.exercice__display {
  padding-bottom: 80px;
  font-size: 1.25rem;
  line-height: 1.75em;
}
.exercice__display .unknown {
  width: 70px;
  height: 1.75rem;
  border-bottom: 2px solid var(--color-grayer);
  vertical-align: middle;
  display: inline-block;
}
.exercice__answer, .exercice__answer--wrong, .exercice__answer--right {
  border-radius: 8px;
  padding: 8px;
  border: 2px solid var(--color-gray);
  background-color: #F7F7F7;
  font-size: 1.25rem;
  height: calc(1.5rem + 16px + 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}
.exercice__answer--wrong {
  border-color: var(--color-wrong-1);
  color: var(--color-wrong-1);
}
.exercice__answer--right {
  border-color: var(--color-right-1);
  color: var(--color-right-1);
}

.response {
  height: 140px;
  border-top: 2px solid var(--color-gray);
}
.response__container {
  width: var(--width-1);
  height: 100%;
  margin: 0 var(--lateral-margin);
  margin: 0 auto;
  gap: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.response .flat-button {
  flex: 1;
}
.response__flex {
  flex: 1;
  gap: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.response__symbol {
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  background: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.response__correction {
  flex: 1;
}
.response__correction h3 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 12px;
}
.response--right {
  height: 140px;
  background: var(--color-right-3);
  color: var(--color-right-2);
}
.response--right .flat-button {
  flex: 1;
}
.response--wrong {
  height: 140px;
  background: var(--color-wrong-3);
  color: var(--color-wrong-2);
}
.response--wrong .flat-button {
  flex: 1;
}
