:root {
  --color-light: #ffffff;
  --color-gray: #eeeeee;
  --color-dark: #555555;
  --color-1: #1184e2;
  --color-1B: #004db1;
  --color-2: #ee451b;
  --color-2B: #a71409;
  --color-3: #ffac5e;
  --color-3B: #f17c4e;
  --color-4: #07e3e3;
  --color-4B: #0097d3;
  --color-text: var(--color-dark);
  --color-bg: var(--color-light);
}

:root {
  --bg: #000;
  --bg2: #000;
  --text: #000;
  --border: none;
  --border-radius: none;
  --button-bg: #000;
  --button-text: #000;
  --button-hover-bg: #000;
  --button-active-bg: #000;
  --button-disabled-box-shadow: none;
  --button-selected-box-shadow: none;
}

* {
  padding: 0;
  margin: 0;
  color: inherit;
  list-style: none;
  background: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  box-sizing: border-box;
  word-wrap: break-word;
}

html, body {
  width: 100%;
  height: 100%;
  color: var(--color-text);
  background: var(--color-bg);
}

@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "FiraSansBold";
  src: url("../fonts/FiraSans-Medium.ttf");
}
body {
  font-family: FiraSans, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

* {
  font-size: 1em;
  font-weight: normal;
  line-height: inherit;
  font-family: inherit;
}

h1 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.25rem;
}

h3, h4, h5, h6 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1rem;
}

button {
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  user-select: none;
}

a {
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  user-select: none;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  width: 32px;
  height: 32px;
}
.icon.practice {
  background-image: url(../media/practice.png);
}
.icon.study {
  background-image: url(../media/study.png);
}
.icon.settings {
  background-image: url(../media/settings.png);
}
.icon.chest {
  background-image: url(../media/chest.png);
}
.icon.english {
  background-image: url(../media/english.png);
}
.icon.fire {
  background-size: 24px;
  background-image: url(../media/fire.png);
}
.icon.bolt {
  background-size: 26px;
  background-image: url(../media/bolt.png);
}
.icon.gem {
  background-size: 26px;
  background-image: url(../media/gem.png);
}
.icon.inf {
  background-image: url(../media/inf.png);
}
.icon.ps {
  background-image: url(../media/ps.png);
}
.icon.pp {
  background-image: url(../media/pp.png);
}

.button {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  color: var(--color-light);
}
.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 12px;
  top: 4px;
  display: flex;
  align-items: start;
  background-color: #000;
}
.button > * {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 12px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
  transition: top 0.04s ease;
}
.button:active > * {
  top: 8px;
}
.button:hover > *, .button:hover::before {
  filter: brightness(1.2);
}

.large.button {
  width: 100%;
  height: 48px;
}

.round.button {
  width: 64px;
  height: 64px;
  border-radius: 50%/calc(50% - 3px);
}
.round.button::before {
  border-radius: 50%;
  height: calc(100% - 6px);
  top: 6px;
}
.round.button > * {
  border-radius: 50%;
  height: calc(100% - 6px);
}
.round.button:active > * {
  top: 12px;
}

.small.button {
  width: 120px;
  height: 48px;
}
.small.button > * {
  border: 2px solid #000;
}

.primary.button > * {
  background-color: var(--color-2);
}
.primary.button::before {
  background-color: var(--color-2B);
}

.secondary.button > * {
  background-color: var(--color-1);
}
.secondary.button::before {
  background-color: var(--color-1B);
}

.color1 .button > * {
  background-color: var(--color-1);
  border-color: var(--color-1B);
}
.color1 .button::before {
  background-color: var(--color-1B);
}

.color2 .button > * {
  background-color: var(--color-2);
  border-color: var(--color-2B);
}
.color2 .button::before {
  background-color: var(--color-2B);
}

.color3 .button > * {
  background-color: var(--color-3);
  border-color: var(--color-3B);
}
.color3 .button::before {
  background-color: var(--color-3B);
}

.color4 .button > * {
  background-color: var(--color-4);
  border-color: var(--color-4B);
}
.color4 .button::before {
  background-color: var(--color-4B);
}

aside {
  position: fixed;
  height: 100%;
  width: 256px;
  display: flex;
  flex-direction: column;
  background: white;
  border-right: solid 2px var(--color-gray);
}
aside nav {
  padding: 14px;
  width: 100%;
}
aside nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
aside nav ul a {
  height: 52px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 12px;
}
aside nav ul a.logo {
  margin: 0 18px;
  color: var(--color-1);
  text-transform: none;
  height: 60px;
}
aside nav ul a:not(.logo) {
  padding: 0 18px;
  gap: 18px;
}
aside nav ul a:not(.logo) > .icon {
  background-size: 28px;
}
aside nav ul a:not(.logo) > span {
  flex: 1;
}
aside nav ul a:not(.logo):not(.active):hover {
  background: #eee;
}
aside nav ul a:not(.logo).active {
  border: solid 2px var(--color-2);
  background: #ffe6d0;
  color: var(--color-2);
  padding: 0 16px;
}

main {
  margin-left: 256px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 24px;
  gap: 48px;
}

.wall {
  width: 600px;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course__title {
  background: #777777;
  width: 100%;
  padding: 30px 18px;
  border-radius: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course__title__left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.course__content {
  padding: 30px 18px;
  gap: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.course__content__line {
  gap: 50px;
  display: flex;
  align-items: stretch;
}
.course__bank {
  width: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}
.course__bank span {
  font-family: FiraSansBold, sans-serif;
  white-space: nowrap;
  text-align: center;
}
.course__bank .icon {
  background-size: 24px;
}
.course .half-flex {
  width: 32px;
}

.color1 .course__title {
  background: var(--color-1);
}

.menu {
  position: sticky;
  width: 360px;
  top: 24px;
}
.menu__stats-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__stats-info__element {
  display: flex;
  align-items: center;
  gap: 6px;
}
.menu__exercise-info {
  margin: 12px 0;
  border: solid 2px var(--color-gray);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__match-info {
  margin: 12px 0;
  border: solid 2px var(--color-gray);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
