:root {
  --color-light: #ffffff;
  --color-gray: #dddddd;
  --color-grayer: #aaaaaa;
  --color-dark: #555555;
  --color-1: #1184e2;
  --color-1B: #004db1;
  --color-2: #ee451b;
  --color-2B: #a71409;
  --color-3: #ffac5e;
  --color-3B: #f17c4e;
  --color-4: #07e3e3;
  --color-4B: #0097d3;
  --color-text: var(--color-dark);
  --color-bg: var(--color-light);
}

:root {
  --bg: #000;
  --bg2: #000;
  --text: #000;
  --border: none;
  --border-radius: none;
  --button-bg: #000;
  --button-text: #000;
  --button-hover-bg: #000;
  --button-active-bg: #000;
  --button-disabled-box-shadow: none;
  --button-selected-box-shadow: none;
}

* {
  padding: 0;
  margin: 0;
  color: inherit;
  list-style: none;
  background: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  box-sizing: border-box;
  word-wrap: break-word;
}

html, body {
  width: 100%;
  height: 100%;
  color: var(--color-text);
  background: var(--color-bg);
}

.hidden {
  display: none;
}

@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "FiraSansBold";
  src: url("../fonts/FiraSans-Medium.ttf");
}
body {
  font-family: FiraSans, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

* {
  font-size: 1em;
  font-weight: normal;
  font-family: inherit;
}

h1 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.25rem;
}

h3, h4, h5, h6 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1rem;
}

a {
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  user-select: none;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  width: 32px;
  height: 32px;
}
.icon.practice {
  background-image: url(../media/practice.png);
}
.icon.study {
  background-image: url(../media/study.png);
}
.icon.vocabulary {
  background-image: url(../media/vocabulary.png);
}
.icon.experience {
  background-image: url(../media/experience.png);
}
.icon.settings {
  background-image: url(../media/settings.png);
}
.icon.chest {
  background-image: url(../media/chest.png);
}
.icon.english {
  background-image: url(../media/english.png);
}
.icon.fire {
  background-size: 28px;
  background-image: url(../media/fire.png);
}
.icon.bolt {
  background-size: 30px;
  background-image: url(../media/bolt.png);
}
.icon.gem {
  background-size: 30px;
  background-image: url(../media/gem.png);
}
.icon.inf {
  background-image: url(../media/inf.png);
}
.icon.ps {
  background-image: url(../media/ps.png);
}
.icon.pp {
  background-image: url(../media/pp.png);
}
.icon.cross {
  background-image: url(../media/cross.svg);
}
.icon.correct {
  background-image: url(../media/correct.svg);
  background-size: 48px;
  width: 48px;
  height: 48px;
}
.icon.wrong {
  background-image: url(../media/wrong.svg);
  background-size: 48px;
  width: 48px;
  height: 48px;
}

.flat-button {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  color: var(--color-light);
  height: 48px;
  width: 100%;
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  user-select: none;
}
.flat-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 14px;
  top: 4px;
  display: flex;
  align-items: start;
  background-color: var(--color-dark);
}
.flat-button > * {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 14px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
  transition: top 0.04s ease;
}
.flat-button:hover > *, .flat-button:hover::before {
  cursor: pointer;
}
.flat-button.checked > *, .flat-button.checked::before {
  filter: brightness(0.8);
}
.flat-button:disabled > * {
  top: 4px;
}
.flat-button.checked > * {
  top: 8px;
}
.flat-button:active > * {
  top: 12px;
}
.flat-button:disabled:active > * {
  top: 8px;
}

.round.flat-button {
  width: 64px;
  height: 64px;
  border-radius: 50%/calc(50% - 3px);
}
.round.flat-button::before {
  border-radius: 50%;
  height: calc(100% - 6px);
  top: 6px;
}
.round.flat-button > * {
  border-radius: 50%;
  height: calc(100% - 6px);
  font-size: 1.75rem;
}
.round.flat-button.checked > * {
  top: 12px;
}
.round.flat-button:active > * {
  top: 18px;
}

.square.flat-button {
  width: 64px;
  height: 64px;
  border-radius: 24px;
}
.square.flat-button::before {
  border-radius: 24px;
  height: calc(100% - 6px);
  top: 6px;
}
.square.flat-button > * {
  border-radius: 24px;
  height: calc(100% - 6px);
  font-size: 1.75rem;
}
.square.flat-button.checked > * {
  top: 12px;
}
.square.flat-button:active > * {
  top: 18px;
}

.flat-button.border > * {
  border: 2px solid var(--color-dark);
}

.color1.flat-button > * {
  background-color: var(--color-1);
  border-color: var(--color-1B);
}
.color1.flat-button::before {
  background-color: var(--color-1B);
}

.color2.flat-button > * {
  background-color: var(--color-2);
  border-color: var(--color-2B);
}
.color2.flat-button::before {
  background-color: var(--color-2B);
}

.color3.flat-button > * {
  background-color: var(--color-3);
  border-color: var(--color-3B);
}
.color3.flat-button::before {
  background-color: var(--color-3B);
}

.color4.flat-button > * {
  background-color: var(--color-4);
  border-color: var(--color-4B);
}
.color4.flat-button::before {
  background-color: var(--color-4B);
}

.gray.flat-button > * {
  background-color: var(--color-light);
  border-color: var(--color-gray);
  color: var(--color-grayer);
}
.gray.flat-button::before {
  background-color: var(--color-gray);
}

.flat-button:disabled > * {
  background-color: var(--color-gray);
}
.flat-button:disabled::before {
  background-color: var(--color-grayer);
}

span.pop {
  animation: popAnimation 0.2s ease;
}

@keyframes popAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.075);
  }
  100% {
    transform: scale(1);
  }
}
main {
  margin-left: 256px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 24px;
  gap: 48px;
}

.wall {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.course__title {
  background: #777777;
  width: 100%;
  padding: 30px 18px;
  border-radius: 14px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course__title__left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.course__title .flat-button {
  width: 120px;
  height: 54px;
}
.course__content {
  padding: 30px 18px;
  gap: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.course__content__line {
  gap: 50px;
  display: flex;
  align-items: stretch;
}
.course__content__line.wide {
  gap: 80px;
}
.course__bundle {
  width: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}
.course__bundle span {
  font-family: FiraSansBold, sans-serif;
  white-space: nowrap;
  text-align: center;
}
.course__bundle .icon {
  background-size: 24px;
}
.course .half-flex {
  width: 32px;
}
.course .one-flex {
  width: 64px;
}

.color1.course__title {
  background: var(--color-1);
}

.color2.course__title {
  background: var(--color-2);
}

.color3.course__title {
  background: var(--color-3);
}

.color4.course__title {
  background: var(--color-4);
}

.menu {
  position: sticky;
  width: 360px;
  top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu h3 {
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  text-align: center;
  width: fit-content;
}
.menu__stats-info ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}
.menu__stats-info ul li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 10px;
  gap: 6px;
  font-family: FiraSansBold, sans-serif;
}
.menu__stats-info ul li.streak {
  color: var(--color-3B);
}
.menu__stats-info ul li.exp {
  color: var(--color-3B);
}
.menu__stats-info ul li.gems {
  color: var(--color-2);
}
.menu__stats-info ul li:hover {
  background: var(--color-gray);
}
.menu__stats-info ul li:hover .dropdown {
  display: block;
}
.menu__stats-info ul li:hover img {
  display: block;
}
.menu__stats-info ul li .dropdown {
  display: none;
  z-index: 10;
  position: absolute;
  margin-top: 38px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.menu__stats-info ul li .dropdown section {
  border-radius: 12px;
  padding: 18px;
  margin-top: 14px;
  background-color: var(--color-bg);
  border: solid 2px var(--color-gray);
  color: var(--color-text);
  white-space: nowrap;
}
.menu__stats-info ul li img {
  display: none;
  z-index: 10;
  position: absolute;
  margin-top: 44px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 10px;
  fill: var(--color-bg);
  color: var(--color-gray);
}
.menu__exercise-info {
  border: solid 2px var(--color-gray);
  border-radius: 14px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu__match-info {
  border: solid 2px var(--color-gray);
  border-radius: 14px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.menu__match-info .highlight {
  color: var(--color-2);
  font-family: FiraSansBold, sans-serif;
}

aside {
  position: fixed;
  height: 100%;
  width: 256px;
  display: flex;
  flex-direction: column;
  background: white;
  border-right: solid 2px var(--color-gray);
  z-index: 20;
}
aside nav {
  padding: 14px;
  width: 100%;
}
aside nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
aside nav ul a {
  height: 52px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 12px;
}
aside nav ul a.logo {
  margin: 0 18px;
  color: var(--color-1);
  text-transform: none;
  height: 60px;
}
aside nav ul a:not(.logo) {
  padding: 0 18px;
  gap: 18px;
}
aside nav ul a:not(.logo) > span {
  flex: 1;
}
aside nav ul a:not(.logo):hover {
  background: var(--color-gray);
}
aside nav ul a:not(.logo).active {
  border: solid 2px var(--color-2);
  background: rgba(255, 172, 94, 0.2);
  color: var(--color-2);
  padding: 0 16px;
}

body {
  overflow-y: scroll;
}
