:root {
  --color-light: #ffffff;
  --color-gray: #dddddd;
  --color-grayer: #aaaaaa;
  --color-dark: #333333;
  --color-1: #1184e2;
  --color-1B: #004db1;
  --color-2: #ee451b;
  --color-2B: #a71409;
  --color-3: #ffac5e;
  --color-3B: #f17c4e;
  --color-4: #07e3e3;
  --color-4B: #0097d3;
  --color-right-1: var(--color-1);
  --color-right-2: var(--color-1B);
  --color-right-3: #ccd9f4;
  --color-wrong-1: var(--color-2);
  --color-wrong-2: var(--color-2B);
  --color-wrong-3: #f8cfcc;
  --color-text: var(--color-dark);
  --color-bg: var(--color-light);
}

* {
  padding: 0;
  margin: 0;
  color: inherit;
  list-style: none;
  background: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  box-sizing: border-box;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  color: var(--color-text);
  background: var(--color-bg);
}

html {
  overflow-y: scroll;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}

.canvas-overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "FiraSansBold";
  src: url("../fonts/FiraSans-Medium.ttf");
}
body {
  font-family: FiraSans, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

* {
  font-size: 1em;
  font-weight: normal;
  font-family: inherit;
}

h1 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.25rem;
}

h3, h4, h5, h6 {
  font-family: FiraSansBold, sans-serif;
  font-size: 1rem;
}

a {
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  user-select: none;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  width: 32px;
  height: 32px;
}
.icon.englishtango {
  background-image: url(../media/englishtango.png);
}
.icon.practice {
  background-image: url(../media/practice.png);
}
.icon.study {
  background-image: url(../media/study.png);
}
.icon.vocabulary {
  background-image: url(../media/vocabulary.png);
}
.icon.quests {
  background-image: url(../media/quests.png);
}
.icon.settings {
  background-image: url(../media/settings.png);
}
.icon.english {
  background-image: url(../media/english.png);
}
.icon.fire {
  background-size: 28px;
  background-image: url(../media/fire.png);
}
.icon.bolt {
  background-size: 30px;
  background-image: url(../media/bolt.png);
}
.icon.gem {
  background-size: 30px;
  background-image: url(../media/gem.png);
}
.icon.chest {
  background-image: url(../media/chest.png);
}
.icon.quest-exercise {
  background-image: url(../media/quest_exercise.png);
}
.icon.quest-locked {
  background-image: url(../media/quest_locked.png);
}
.icon.quest-bolt {
  background-image: url(../media/quest_bolt.png);
}
.icon.quest-fire {
  background-image: url(../media/quest_fire.png);
}
.icon.quest-gem {
  background-image: url(../media/quest_gem.png);
}
.icon.inf {
  background-image: url(../media/inf.png);
}
.icon.ps {
  background-image: url(../media/ps.png);
}
.icon.pp {
  background-image: url(../media/pp.png);
}
.icon.cross {
  background-image: url(../media/cross.svg);
}
.icon.right {
  background-image: url(../media/right.svg);
  background-size: 48px;
  width: 48px;
  height: 48px;
}
.icon.wrong {
  background-image: url(../media/wrong.svg);
  background-size: 48px;
  width: 48px;
  height: 48px;
}
.icon.win {
  background-image: url(../media/win.png);
  background-size: 128px;
  width: 128px;
  height: 128px;
}

.flat-button {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  color: var(--color-light);
  height: 48px;
  width: 100%;
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  user-select: none;
}
.flat-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 14px;
  top: 4px;
  display: flex;
  align-items: start;
  background-color: var(--color-dark);
}
.flat-button > * {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  border-radius: 14px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grayer);
  transition: top 0.04s ease;
}
.flat-button.checked > * {
  background-color: var(--color-dark);
  top: 4px;
}
.flat-button:active > * {
  top: 8px;
}

.round.flat-button {
  width: 64px;
  height: 64px;
  border-radius: 50%/calc(50% - 3px);
}
.round.flat-button::before {
  border-radius: 50%;
  height: calc(100% - 6px);
  top: 6px;
}
.round.flat-button > * {
  border-radius: 50%;
  height: calc(100% - 6px);
  font-size: 1.75rem;
}
.round.flat-button.checked > * {
  top: 6px;
}
.round.flat-button:active > * {
  top: 12px;
}

.square.flat-button {
  width: 64px;
  height: 64px;
  border-radius: 24px;
}
.square.flat-button::before {
  border-radius: 24px;
  height: calc(100% - 6px);
  top: 6px;
}
.square.flat-button > * {
  border-radius: 24px;
  height: calc(100% - 6px);
  font-size: 1.75rem;
}
.square.flat-button.checked > * {
  top: 6px;
}
.square.flat-button:active > * {
  top: 12px;
}

.flat-button.border > * {
  border: 2px solid var(--color-dark);
}

.color1.flat-button > * {
  background-color: var(--color-1);
  border-color: var(--color-1B);
}
.color1.flat-button::before, .color1.flat-button.checked > * {
  background-color: var(--color-1B);
}

.color2.flat-button > * {
  background-color: var(--color-2);
  border-color: var(--color-2B);
}
.color2.flat-button::before, .color2.flat-button.checked > * {
  background-color: var(--color-2B);
}

.color3.flat-button > * {
  background-color: var(--color-3);
  border-color: var(--color-3B);
}
.color3.flat-button::before, .color3.flat-button.checked > * {
  background-color: var(--color-3B);
}

.color4.flat-button > * {
  background-color: var(--color-4);
  border-color: var(--color-4B);
}
.color4.flat-button::before, .color4.flat-button.checked > * {
  background-color: var(--color-4B);
}

.gray.flat-button > * {
  background-color: var(--color-light);
  border-color: var(--color-gray);
  color: var(--color-grayer);
}
.gray.flat-button::before, .gray.flat-button.checked > * {
  background-color: var(--color-gray);
}

.flat-button:disabled > * {
  background-color: var(--color-gray);
}
.flat-button:disabled::before {
  background-color: var(--color-grayer);
}
.flat-button:disabled:disabled > * {
  top: 4px;
  cursor: default;
}
.flat-button:disabled:disabled.checked > * {
  background-color: var(--color-grayer);
}

.round.flat-button:disabled > *,
.square.flat-button:disabled > * {
  top: 6px;
}

.progress-bar {
  height: 16px;
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
  background: var(--color-gray);
}
.progress-bar__fill {
  height: 100%;
  width: 0%;
  border-radius: 8px;
  overflow: hidden;
  background: var(--color-1);
  transition: width 0.15s ease-in-out;
}
.progress-bar__fill__highlight {
  height: 4px;
  margin: 0 8px;
  margin-top: 4px;
  border-radius: 8px;
  background: inherit;
  filter: brightness(1.4);
}

.advancement {
  min-height: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--color-gray);
  border-radius: 14px;
  padding: 16px;
  font-family: FiraSansBold, sans-serif;
  font-size: 1.25rem;
}
.advancement h1 {
  padding-top: 16px;
}
.advancement > .icon {
  background-size: 48px;
  width: 64px;
  height: 64px;
}
.advancement.locked {
  background: #f7f7f7;
  color: var(--color-grayer);
}
.advancement__side {
  height: 100%;
  flex: 1;
  gap: 6px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.advancement.streak:not(.checked) .icon {
  background-image: none;
}
.advancement.streak.checked .icon span {
  background: #f77e54;
  -webkit-text-stroke: 8px;
  -webkit-text-stroke-color: transparent;
  background-clip: text;
}
.advancement.streak .icon {
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  background-size: 48px 48px;
  background-position: center bottom 16px;
}
.advancement.streak .icon span {
  font-size: 3rem;
  line-height: 3rem;
  font-family: FiraSansBold, sans-serif;
  width: 100%;
  text-align: center;
  background: var(--color-grayer);
  -webkit-text-stroke: 8px;
  -webkit-text-stroke-color: transparent;
  background-clip: text;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  user-select: none;
}
.advancement.gems {
  color: var(--color-2);
}
.advancement.gems span {
  width: fit-content;
}
.advancement__days {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex: 1;
  overflow: hidden;
  mask-image: linear-gradient(to left, transparent 0px, black 30px, black calc(100% - 30px), transparent 100%);
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  user-select: none;
}
.advancement__days .day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.advancement__days .day span {
  font-family: FiraSansBold, sans-serif;
  font-size: 1rem;
  color: var(--color-grayer);
}
.advancement__days .day div {
  background: var(--color-gray);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.advancement__days .day.checked span {
  color: var(--color-3B);
}
.advancement__days .day.checked div {
  background-color: var(--color-3B);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-image: url(../media/check.svg);
}
.advancement__progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.advancement__progress .progress-bar {
  border-radius: 8px 0 0 8px;
}
.advancement__progress .progress-bar__fill {
  background: var(--color-3);
}

.small-heartbeat {
  animation: smallHeartbeatAnimation 0.15s linear;
}

@keyframes smallHeartbeatAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}
.heartbeat {
  animation: heartbeatAnimation 0.15s linear;
}

@keyframes heartbeatAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.big-heartbeat {
  animation: heartbeatAnimation 0.2s linear;
}

@keyframes bigHeartbeatAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.pop {
  animation: popAnimation 0.2s linear;
}

@keyframes popAnimation {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.arise {
  animation: ariseAnimation 0.4s ease-out;
}

@keyframes ariseAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.ignite-fire {
  animation: igniteAnimation 0.2s linear;
}

@keyframes igniteAnimation {
  0% {
    background-size: 0px 0px;
  }
  100% {
    background-size: 48px 48px;
  }
}
.flicker-fire {
  animation: flickerAnimation 0.1s linear infinite;
}

@keyframes flickerAnimation {
  0% {
    background-size: 44px 48px;
  }
  50% {
    background-size: 48px 44px;
  }
  100% {
    background-size: 48px 48px;
  }
}
main {
  padding: 24px;
  padding-left: 280px;
  display: flex;
  align-items: flex-start;
  gap: 48px;
  justify-content: center;
}

.wall {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 600px;
  max-width: 600px;
  min-width: 400px;
}
.wall__title {
  background: #777777;
  width: 100%;
  padding: 30px 18px;
  border-radius: 14px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.wall__title__left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.wall__title .flat-button {
  width: 120px;
  height: 54px;
}
.wall__section {
  gap: 24px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.wall__subsection {
  gap: 16px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.color1.wall__title {
  background: var(--color-1);
}

.color2.wall__title {
  background: var(--color-2);
}

.color3.wall__title {
  background: var(--color-3);
}

.color4.wall__title {
  background: var(--color-4);
}

.wall__section.quests h1 {
  padding-top: 16px;
}
.wall__section.quests .wall__subsection {
  font-family: FiraSansBold, sans-serif;
  font-size: 1.25rem;
  gap: 8px;
}
.wall__section.quests .wall__subsection h1 {
  padding-top: 16px;
}
.wall__section.quests .wall__subsection .advancement {
  margin-top: 20px;
}

.wall__section.course .course__line {
  gap: 50px;
  display: flex;
  justify-content: center;
}
.wall__section.course .course__bundle {
  position: relative;
  width: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}
.wall__section.course .course__bundle span {
  font-family: FiraSansBold, sans-serif;
  white-space: nowrap;
  text-align: center;
}
.wall__section.course .course__bundle .icon {
  background-size: 24px;
}
.wall__section.course .course__bundle button:disabled ~ span {
  color: var(--color-gray);
}

.infos-aside {
  position: sticky;
  top: 24px;
  width: 360px;
  max-width: 360px;
  min-width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.infos-aside h3 {
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  text-align: center;
  width: fit-content;
}
.infos-aside__submenu {
  border: solid 2px var(--color-gray);
  border-radius: 14px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.stats-aside nav {
  height: 100%;
  width: 100%;
}
.stats-aside ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}
.stats-aside li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 10px;
  gap: 6px;
  font-family: FiraSansBold, sans-serif;
}
.stats-aside li:hover {
  background: var(--color-gray);
}
.stats-aside li:hover .stats-aside__dropdown {
  display: block;
}
.stats-aside li:hover .stats-aside__dropdown-pointer {
  display: block;
}
.stats-aside__dropdown {
  display: none;
  z-index: 10;
  position: absolute;
  margin-top: 38px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.stats-aside__dropdown section {
  border-radius: 12px;
  padding: 18px;
  margin-top: 14px;
  white-space: nowrap;
  background-color: var(--color-bg);
  border: solid 2px var(--color-gray);
  color: var(--color-text);
}
.stats-aside__dropdown-pointer {
  display: none;
  z-index: 10;
  position: absolute;
  margin-top: 44px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 10px;
  fill: var(--color-bg);
  color: var(--color-gray);
}

.stats-header {
  display: none;
  position: fixed;
  height: 58px;
  width: 100%;
  top: 0;
  z-index: 20;
  background: var(--color-1);
  border-bottom: 2px solid var(--color-1B);
  justify-content: center;
}
.stats-header nav {
  height: 100%;
  width: min(100%, 480px);
}
.stats-header ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.stats-header li {
  min-width: 0;
  padding: 12px;
  color: var(--color-light);
  font-family: FiraSansBold, sans-serif;
}
.stats-header li button {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  gap: 6px;
}
.stats-header__dropdown {
  display: block;
  z-index: 10;
  position: absolute;
  margin-top: 58px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}
.stats-header__dropdown section {
  width: 100vw;
  background: var(--color-light);
  color: var(--color-text);
  padding: 18px;
}
.stats-header__dropdown-pointer {
  display: block;
  z-index: 10;
  position: absolute;
  margin-top: 48px;
  top: 0;
  width: 20px;
  height: 10px;
  transform: translateX(6px);
  fill: var(--color-bg);
  color: var(--color-gray);
}

.play-footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;
  background: var(--color-light);
  border-top: 2px solid var(--color-gray);
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 12px;
}
.play-footer .flat-button {
  width: min(100%, 400px);
}

.floating-bubble {
  position: absolute;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%) translateY(-100%) translateY(-8px);
  border-radius: 12px;
  padding: 12px;
  white-space: nowrap;
  background-color: var(--color-bg);
  border: solid 2px var(--color-gray);
  font-family: FiraSansBold, sans-serif;
  text-transform: uppercase;
  color: var(--color-1);
  text-align: center;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  user-select: none;
  animation: floatingAnimation 1.5s ease-in-out infinite;
}
.floating-bubble-pointer {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%) rotate(180deg);
  width: 20px;
  height: 10px;
  fill: var(--color-bg);
  color: var(--color-gray);
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  user-select: none;
}

.stats-aside .experience {
  color: var(--color-3B);
}

.stats-aside .streak {
  color: var(--color-3B);
}

.stats-aside .gems {
  color: var(--color-2);
}

.nav-aside {
  position: fixed;
  height: 100%;
  width: 256px;
  display: flex;
  flex-direction: column;
  background: white;
  border-right: solid 2px var(--color-gray);
  z-index: 10;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.nav-aside::-webkit-scrollbar {
  display: none;
}
.nav-aside nav {
  padding: 0 14px;
  width: 100%;
}
.nav-aside ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.nav-aside li a {
  height: 52px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 12px;
  padding: 0 18px;
  gap: 18px;
}
.nav-aside li a span {
  flex: 1;
}
.nav-aside li a:hover {
  background: var(--color-gray);
}
.nav-aside li a.active {
  border: solid 2px var(--color-2);
  background: rgba(255, 172, 94, 0.2);
  color: var(--color-2);
  padding: 0 16px;
}
.nav-aside li a .icon {
  min-width: 32px;
}
.nav-aside .logo,
.nav-aside .logo-small {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 32px;
  margin: 0 18px;
  color: var(--color-1);
  text-transform: none;
  margin: 24px 14px;
}
.nav-aside .logo-small {
  display: none;
}

.nav-footer {
  display: none;
  position: fixed;
  height: 90px;
  width: 100%;
  bottom: 0;
  z-index: 30;
  background: white;
  border-top: 2px solid var(--color-gray);
}
.nav-footer nav {
  height: 100%;
  width: 100%;
  padding: 0 18px;
}
.nav-footer ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.nav-footer li {
  height: 100%;
  min-width: 0;
}
.nav-footer a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.nav-footer .icon {
  background-size: 48px;
  width: 80px;
  height: 60px;
}
.nav-footer .active .icon {
  border-radius: 12px;
  border: solid 2px var(--color-2);
  background-color: rgba(255, 172, 94, 0.2);
  color: var(--color-2);
}

@media (max-width: 1280px) {
  .nav-aside {
    width: 88px;
  }
  .nav-aside ul a {
    justify-content: center;
  }
  .nav-aside ul a span {
    display: none;
  }
  .nav-aside .logo-small {
    display: flex;
  }
  .nav-aside .logo {
    display: none;
  }
}
@media (max-width: 960px) {
  .nav-aside {
    padding-top: 58px;
  }
}
@media (max-width: 640px) {
  .nav-aside {
    display: none;
  }
  .nav-footer {
    display: block;
  }
}
@media (max-width: 960px) {
  .stats-header {
    display: flex;
  }
  .infos-aside {
    display: none;
  }
  .play-footer {
    display: flex;
  }
}
@media (max-width: 960px) and (min-width: 641px) {
  .stats-header {
    padding-left: 88px;
  }
  .play-footer {
    padding-left: 100px;
  }
}
@media (max-width: 640px) {
  .play-footer {
    bottom: 90px;
  }
}
@keyframes floatingAnimation {
  0% {
    top: 6px;
  }
  50% {
    top: -6px;
  }
  100% {
    top: 6px;
  }
}
@media (max-width: 1280px) {
  main {
    padding: 24px;
    padding-left: 112px;
  }
}
@media (max-width: 960px) {
  main {
    padding-top: 82px;
  }
}
@media (max-width: 640px) {
  main {
    padding: 0;
    padding-top: 58px;
    padding-bottom: 90px;
  }
  .wall__title {
    border-radius: 0;
  }
  .wall {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
}
