@import "./base/vars";
@import "./base/base";
@import "./base/fonts";
@import "./base/animations";
@import "./components/icon";
@import "./components/flat-input";
@import "./components/flat-button";

:root {
	--width-1: min(100vw, 375px);
	--width-2: min(100vw, 830px);
}

.authentification {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    padding: 30px;
    width: 100%;

    &__top {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 0;

        .cross {
            position: absolute;
            top: 0;
            left: 0;
        }

        .flat-button {
            position: absolute;
            top: 0;
            right: 0;

            width: 120px;
            height: 54px;
            > * {
                color: var(--color-1);
            }
        }
    }

    &__body {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        flex: 1;
    }

    &__form {
        width: var(--width-1);
        margin-top: 24px;

        display: flex;
        flex-direction: column;
        gap: 8px;

        button {
            margin-top: 12px;
        }

        h1 {
            text-align: center;
            margin-bottom: 16px;
        }
    }

    &__conditions {
        width: var(--width-1);
        margin-top: 24px;
        text-align: center;
        color: var(--color-grayer);
        a {
            text-transform: none;
        }
    }

    &__article {
        width: var(--width-2);
        margin-top: 48px;

        display: flex;
        flex-direction: column;
        gap: 8px;

        * {
            padding-bottom: 12px;
        }

        p {
            padding-left: 16px;
        }
    }

    &__centered-message {
        position: absolute;

        width: min(100vw, 400px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;

        border-radius: 12px;
        padding: 32px 24px;
    
        background-color: var(--color-bg);
        border: solid 2px var(--color-gray);
    }
}





.black-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.4);
    transition: opacity 0.1s linear;
    opacity: 0;
    &.show-transition {
        opacity: 1;
    }
}


