@import "./base/vars";
@import "./base/base";
@import "./base/fonts";
@import "./base/animations";
@import "./components/icon";
@import "./components/flat-button";
@import "./components/progress-bar";
@import "./components/advancement";
@import "./components/wide-banner";
@import "./layouts/game";





@media (max-width: 640px) {
    :root {
        --lateral-padding: 16px;
        --top-padding: 24px;
    }

    .banner {
        padding-top: 24px;
        padding-bottom: 24px;
        height: fit-content;
    }

    .banner__container {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        > * { flex: none; }
    }

    .banner__symbol {
        display: none;
    }

    .banner.user-input {
        border-top: none;
        .gray { display: none; }
    }

    .banner.over .banner__side {
        display: none;
    }
}



