@import "./base/vars";
@import "./base/base";
@import "./base/fonts";
@import "./components/icons";
@import "./components/flat-buttons";
@import "./components/popping";


:root {
	--width-1: min(100vw, 920px);
	--width-2: min(100vw, 600px);
    --lateral-padding: 40px;
    --top-padding: 50px;
}


main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    padding-top: var(--top-padding);
    padding-bottom: 140px;
}




.progress {
    padding: 0 var(--lateral-padding);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    width: var(--width-1);

    &__bar {
        height: 16px;
        flex: 1 0 0;
        border-radius: 8px;
        overflow: hidden;
        background: var(--color-gray);

        &__fill {
            height: 100%;
            width: 0%;
            border-radius: 8px;
            overflow: hidden;
            background: var(--color-1);
            transition: width 0.15s ease-in-out;

            &__highlight {
                height: 4px;
                margin: 0 8px;
                margin-top: 4px;
                border-radius: 8px;
                background: var(--color-1);
                filter: brightness(1.4);
            }
        }
    }
    
    .icon {
        background-size: 20px;
        min-width: 20px;
        min-height: 20px;
        width: 20px;
        height: 20px;
    }
}




.exercice {
    padding: 40px var(--lateral-padding);
    width: var(--width-2);
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        padding-bottom: 40px;

        font-family: FiraSansBold, sans-serif;
        font-size: 1.5rem;
    }

    &__display {
        padding-bottom: 80px;

        font-size: 1.25rem;
        line-height: 1.75em;

        .unknown {
            width: 70px;
            height: 1.75rem;

            border-bottom: 2px solid var(--color-grayer);

            vertical-align: middle;
            display: inline-block;
        }
    }

    &__answer {
        border-radius: 8px;
        padding: 8px;
        border: 2px solid var(--color-gray);

        background-color: #F7F7F7;

        font-size: 1.25rem;
        height: calc(1.5rem + 16px + 4px);

        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        text-align: center;

        &.wrong {
            border-color: var(--color-wrong-1);
            color: var(--color-wrong-1);
        }

        &.right {
            border-color: var(--color-right-1);
            color: var(--color-right-1);
        }
    }
}







.banner {
    padding: 0 var(--lateral-padding);
    width: 100%;
    height: 140px;
    background: white;

    display: flex;
    align-items: center;

    position: absolute;
    bottom: 0;

    &__container {
        width: var(--width-1);
        height: 100%;
        margin: 0 auto;

        gap: 0 24px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        * {
            flex: 1;
        }
    }
    
    h3 {
        font-family: FiraSansBold, sans-serif;
        font-size: 1.5rem;
        padding-bottom: 12px;
    }

    &__side {
        gap: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.25rem;
    }

    .flat-button {
        font-size: 1rem;
    }

    &__symbol {
        flex: none;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: var(--color-light);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.over,
    &.user-input {
        border-top: 2px solid var(--color-gray);
    }

    &.right {
        background: var(--color-right-3);
        color: var(--color-right-2);
    }

    &.wrong {
        background: var(--color-wrong-3);
        color: var(--color-wrong-2);
    }

    &.overlay {
        position: fixed;
        bottom: -140px;
        width: 100%;
        transition: bottom 0.2s ease-in-out;
        &.show-transition {
            bottom: 0;
        }
    }
}

.black-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.65);
    transition: opacity 0.2s linear;
    opacity: 0;
    &.show-transition {
        opacity: 1;
    }
}














.gameover {
    width: min(100vw, 500px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 var(--lateral-padding);
    gap: 20px;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 20px;
        
        > span {
            font-family: FiraSansBold, sans-serif;
            font-size: 1.5rem;
            color: var(--color-2);
        }
    }

    &__progress {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;

        width: 100%;

        &__level {
            height: 28px;
            font-family: FiraSansBold, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;

            color: white;
            padding: 0 6px;
            background: linear-gradient(to bottom, var(--color-3B), var(--color-3));
            border-radius: 10px;

            // transform: scale(1.5);
        }

        &__bar {
            height: 16px;
            flex: 1;
            border-radius: 8px 0 0 8px;
            overflow: hidden;
            background: var(--color-gray);
    
            &__fill {
                height: 100%;
                width: 0%;
                border-radius: 8px;
                overflow: hidden;
                background: var(--color-3);
                transition: width 0.15s ease-in-out;
    
                &__highlight {
                    height: 4px;
                    margin: 0 8px;
                    margin-top: 4px;
                    border-radius: 8px;
                    background: var(--color-3);
                    filter: brightness(1.4);
                }
            }
        }
    }
}






.advancement {

    h1 {
        padding-top: 16px;
    }

    min-height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;

    border: 2px solid var(--color-gray);
    border-radius: 14px;
    padding: 16px;

    > .icon {
        background-size: 48px;
        width: 64px;
        height: 64px;
    }

    font-family: FiraSansBold, sans-serif;
    font-size: 1.25rem;

    &.locked {
        background: #f7f7f7;
        color: var(--color-grayer);
    }
    
    &__side {
        height: 100%;
        flex: 1;
        gap: 6px;

        display: flex;
        align-items: stretch;
        flex-direction: column;
        justify-content: center;
    }


    .quest-fire.icon {
        display: flex;
        justify-content: center;
        align-items: end;
        color: white;

        background-size: 48px 48px;
        background-position: center top;

        span {
            font-size: 3rem;
            line-height: 3rem;
            font-family: FiraSansBold, sans-serif;
            width: 100%;
            text-align: center;

            background: #f77e54;
            -webkit-text-stroke: 8px;
            -webkit-text-stroke-color: transparent;
            background-clip: text;
        }
    }

    &__progress {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;

        &__bar {
            height: 16px;
            flex: 1;
            border-radius: 8px 0 0 8px;
            overflow: hidden;
            background: var(--color-gray);
    
            &__fill {
                height: 100%;
                width: 0%;
                border-radius: 8px;
                overflow: hidden;
                background: var(--color-3);
                transition: width 0.15s ease-in-out;
    
                &__highlight {
                    height: 4px;
                    margin: 0 8px;
                    margin-top: 4px;
                    border-radius: 8px;
                    background: var(--color-3);
                    filter: brightness(1.4);
                }
            }
        }
    }
}



































@media (max-width: 640px) {
    :root {
        --lateral-padding: 16px;
        --top-padding: 24px;
    }

    .banner {
        padding-top: 24px;
        padding-bottom: 24px;
        height: fit-content;
    }

    .banner__container {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        > * { flex: none; }
    }

    .banner__symbol {
        display: none;
    }

    .banner.user-input {
        border-top: none;
        .gray { display: none; }
    }

    .banner.over .banner__side {
        display: none;
    }
}



