@import "./base/vars";
@import "./base/base";
@import "./base/fonts";
@import "./components/icons";
@import "./components/buttons";
@import "./layouts/navigation";




main {
    margin-left: 256px;
    display: flex;
    justify-content: center;
    padding: 24px;
    gap: 48px;
}











.wall {
    width: 600px;
}

.course {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        background: #777777;
        width: 100%;
        padding: 24px;
        border-radius: 12px;
        color: white;

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &__left {
            display: flex;
            flex-direction: column;
            
            // h2 {}
            // h3 {}
        }
    }

    &__content {
        width: 100%;
        padding: 24px;

        display: flex;
        align-items: center;
        flex-direction: column;

        &__line {
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__bank {
        width: fit-content;

        flex: 1;

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 6px;
    }

}



.color1 {
    .course__title {
        background: var(--color-1);
    }
    .small-button > * {
        background: var(--color-1);
        border: solid 2px var(--color-1B);
    }
    .small-button::before { background: var(--color-1B); }
}



















.half-flex {
    flex: 0.5;
}





















@mixin sub-menu-styling() {
    margin: 12px 0;
    border: solid 2px black;
    border-radius: 12px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu {
    width: 360px;

    &__stats-info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__element {
            display: flex;
            align-items: center;
            gap: 6px;
        }
    }

    &__exercise-info {
        @include sub-menu-styling;
    }

    &__match-info {
        @include sub-menu-styling;
    }
}


