

/*:root {
	--bg: #111122;
	--bg2: #45618f;
	--text: #ffffff;
	--border: 2px solid #1b2547;
	--border-radius: 3px;
	--button-bg: #32955E linear-gradient(45deg, #32955E, #216F63);
	--button-hover-bg: #70D080 linear-gradient(45deg, #70D080, #32955E);
	--button-active-bg: #ffffff;
	--button-disabled-box-shadow: inset 0 0 16px #06050d;
	--button-selected-box-shadow: inset 0 0 32px #0F3746, inset 0 0 32px #0F3746;
}*/

:root {
	--bg: #000;
	--bg2: #000;
	--text: #000;
	--border: none;
	--border-radius: none;
	--button-bg: #000;
	--button-text: #000;
	--button-hover-bg: #000;
	--button-active-bg: #000;
	--button-disabled-box-shadow: none;
	--button-selected-box-shadow: none;
}














* {
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	outline: none;
	border: none;
	box-sizing: border-box;

	word-wrap: break-word;
	font-family: Calibri, sans-serif;
/*	font-family: Arial, sans-serif;*/
/*	font-family: Dejavu Sans, sans-serif;*/
	font-size: 1em;
}

html, body {
	width: 100%;
	height: 100%;

	color: #000;
	background-color: #fff;
}







/*ELEMENTS*/

input[type="button"]:not(:disabled):hover {
  cursor: pointer;
}

input[type="button"]::-moz-focus-inner {
  border: 0;
}

canvas {
	pointer-events: none;
	width:  100%;
	height: 100%;
	display: block;

	z-index: 10;

	position: fixed;
}

input[type="range"]:hover {
  opacity: 1;
  cursor: pointer;
}

input[type="range"] {
	-webkit-appearance: none;
	        appearance: none;
	border: none;
	outline: none;
	width: 100px;
	height: 8px;
	border-radius: 8px;
	background: var(--slider-color1);

	top: 20px;
	left: calc(100% - 110px);
	z-index: 20;
	position: absolute;
	transition: opacity .2s;
	opacity: 0.5;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	        appearance: none;
	border: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: var(--slider-color2);
}

input[type="range"]::-moz-range-thumb {
	border: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: var(--slider-color2);
}















/*buttons input*/

.button1 {
	white-space: pre-wrap;

	padding: 5px;

	color: var(--button-text);
	background: var(--button-bg);

	border-radius: var(--border-radius);
}

.button1:hover {
	background: var(--button-hover-bg);
}

.button1:active {
	background: var(--button-active-bg);
}

.button1:disabled {
	background: none;
	box-shadow: var(--button-disabled-box-shadow);
}

.button1.button-selected {
	box-shadow: var(--button-selected-box-shadow);
}


