


.large-button {
    height: 48px;
    width: 100%;
    border-radius: 12px;
    
    // border: 2px solid;
    border-bottom: 6px solid;

    background: red;
}


$button-side: 8px;
$button-side-2: 4px;

.round-button {
    position: relative;
    overflow: hidden;
    width: 64px;
    height: 64px;
    border-radius: 50% / calc(50% - $button-side-2);

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: calc(100% - $button-side);
        border-radius: 50% / 50%;
        top: $button-side;

        display: flex;
        align-items: start;
        background: green;
    }

    > * {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: calc(100% - $button-side);
        border-radius: 50% / 50%;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        background: lightgreen;

        transition: top 0.2s ease;
    }
}

.round-button:hover > span {
    top: 16px;
}







