
.flat-input {
    border-radius: 10px;
    padding: 8px 18px;
    border: 2px solid var(--color-gray);

    background-color: #F7F7F7;

    font-size: 1rem;
    height: 48px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}