



.icon {
    background-position: center;
    background-size: cover;
    width: 32px;
    height: 32px;

    // &.icon-1 {
    //     background-image: url(../images/icon-1.png);
    // }

    // &.icon-2 {
    //     background-image: url(../images/icon-2.png);
    // }
}






