



.icon {
    background-position: center;
    background-size: cover;
    width: 32px;
    height: 32px;

    &.practice {
        background-image: url(../media/practice.png);
    }

    &.study {
        background-image: url(../media/study.png);
    }

    &.settings {
        background-image: url(../media/settings.png);
    }
}






