



.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 32px;
    height: 32px;

    &.practice {
        background-image: url(../media/practice.png);
    }

    &.study {
        background-image: url(../media/study.png);
    }

    &.vocabulary {
        background-image: url(../media/vocabulary.png);
    }

    &.experience {
        background-image: url(../media/experience.png);
    }

    &.settings {
        background-image: url(../media/settings.png);
    }








    &.chest {
        background-image: url(../media/chest.png);
    }

    &.english {
        background-image: url(../media/english.png);
    }

    &.fire {
        background-size: 28px;
        background-image: url(../media/fire.png);
    }

    &.bolt {
        background-size: 30px;
        background-image: url(../media/bolt.png);
    }
    
    &.gem {
        background-size: 30px;
        background-image: url(../media/gem.png);
    }











    &.inf {
        background-image: url(../media/inf.png);
    }

    &.ps {
        background-image: url(../media/ps.png);
    }

    &.pp {
        background-image: url(../media/pp.png);
    }

    &.cross {
        background-image: url(../media/cross.svg);
    }

    &.right {
        background-image: url(../media/right.svg);
        background-size: 48px;
        width: 48px;
        height: 48px;
    }

    &.wrong {
        background-image: url(../media/wrong.svg);
        background-size: 48px;
        width: 48px;
        height: 48px;
    }
}






