





span.pop {
    animation: popAnimation 0.2s linear;
}

@keyframes popAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.075);
    }
    100% {
        transform: scale(1);
    }
}







.response__symbol.pop {
    animation: popAnimationSymbol 0.2s linear;
}

@keyframes popAnimationSymbol {
    0% {
        transform: scale(0.5);
    }
    25% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}



