





.heartbeat {
    animation: heartbeatAnimation 0.15s linear;
}

@keyframes heartbeatAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


.big-heartbeat {
    animation: heartbeatAnimation 0.2s linear;
}

@keyframes bigHeartbeatAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}








.pop {
    animation: popAnimation 0.2s linear;
}

@keyframes popAnimation {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}







.arise {
    animation: ariseAnimation 0.4s ease-out;
}

@keyframes ariseAnimation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
















.ignite-fire {
    animation: igniteAnimation 0.2s linear;
}

@keyframes igniteAnimation {
    0% {
        background-size: 0px 0px;
    }
    100% {
        background-size: 48px 48px;
    }
}

.flicker-fire {
    animation: flickerAnimation 0.1s linear infinite;
}

@keyframes flickerAnimation {
    0% {
        background-size: 44px 48px;
    }
    50% {
        background-size: 48px 44px;
    }
    100% {
        background-size: 48px 48px;
    }
}



