
@font-face {
	font-family: "FiraSans";
	src: url("../fonts/FiraSans-Regular.ttf");
}

@font-face {
	font-family: "FiraSansBold";
	src: url("../fonts/FiraSans-Medium.ttf");
}

body {
    font-family: FiraSans, sans-serif;
    font-size: 16px;
    line-height: 1.25em;
}

* {
	font-size: 1em;
	font-weight: normal;
	font-family: inherit;
}

h1 {
    font-family: FiraSansBold, sans-serif;
	font-size: 1.5rem;
}

h2 {
    font-family: FiraSansBold, sans-serif;
	font-size: 1.25rem;
}

h3, h4, h5, h6 {
    font-family: FiraSansBold, sans-serif;
	font-size: 1rem;
}

a {
	font-family: FiraSansBold, sans-serif;
	text-transform: uppercase;
	user-select: none;
}

b {
	font-family: FiraSansBold, sans-serif;
}

code {
	display: inline-block;
	font-family: FiraSansBold, sans-serif;

	padding: 0 4px;
	font-size: 85%;
	background-color: rgba(127, 127, 127, 0.1);
	border-radius: 2px;
}


