
@font-face {
	font-family: "FiraSans";
	src: url("../fonts/FiraSans-Regular.ttf");
}

@font-face {
	font-family: "FiraSansBold";
	src: url("../fonts/FiraSans-Bold.ttf");
}

body {
    font-family: FiraSans, sans-serif;
    font-size: 16px;
    line-height: 1.25em;
}

* {
	font-size: 1em;
	font-weight: normal;
	line-height: 1.25em;
	font-family: inherit
}
