
@font-face {
	font-family: "FiraSans";
	src: url("../fonts/FiraSans-Regular.ttf");
}

@font-face {
	font-family: "FiraSansBold";
	src: url("../fonts/FiraSans-Medium.ttf");
}

body {
    font-family: FiraSans, sans-serif;
    font-size: 16px;
    line-height: 1.25em;
}

* {
	font-size: 1em;
	font-weight: normal;
	line-height: inherit;
	font-family: inherit;
}

h1 {
    font-family: FiraSansBold, sans-serif;
	font-size: 1.5rem;
}

h2 {
    font-family: FiraSansBold, sans-serif;
	font-size: 1.25rem;
}

button {
	font-family: FiraSansBold, sans-serif;
}