
:root {
    
	--color-light: #ffffff;
	--color-gray: #eeeeee;
	--color-dark: #555555;

	--color-1: #1184e2;
	--color-1B: #004db1;
	--color-2: #ee451b;
	--color-2B: #a71409;
	--color-3: #ffac5e;
	--color-3B: #f17c4e;
	--color-4: #07e3e3;
	--color-4B: #0097d3;
	// --color-4: #4fdd1b;
	// --color-4B: #07b14e;

	// --color-3: none;
	// --color-3B: none;
	// --color-4: none;
	// --color-4B: none;
	// --color-5: none;
	// --color-5B: none;

	--color-text: var(--color-dark);
	--color-bg: var(--color-light);
}

