
:root {
    
	--color-light: #ffffff;
	--color-dark: #626262;
	--color-1: #1184e2;
	--color-1B: #004db1;
	// --color-2: #ee1bc4;
	// --color-2B: #be13e0;
	--color-2: #ee451b;
	--color-2B: #a71409;

	// --color-3: none;
	// --color-3B: none;
	// --color-4: none;
	// --color-4B: none;
	// --color-5: none;
	// --color-5B: none;

	--color-text: var(--color-dark);
	--color-bg: var(--color-light);
}

