





main {
    padding: 24px;
    padding-left: calc(256px + 24px);

    display: flex;
    align-items: flex-start;
    gap: 48px;

    // // center
    // width: fit-content;
    // margin: auto;

    justify-content: center;

}

.wall {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 600px;
    max-width: 600px;
    min-width: 400px;

    &__title {
        background: #777777;
        width: 100%;
        padding: 30px 18px;
        border-radius: 14px;
        color: white;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        
        &__left {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .flat-button { 
            width: 120px;
            height: 54px;
        }
    }

    &__section {
        padding: 30px 18px;

        gap: 24px;
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }

    &__subsection {
        gap: 16px;
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
}




.color1.wall__title {
    background: var(--color-1);
}

.color2.wall__title {
    background: var(--color-2);
}

.color3.wall__title {
    background: var(--color-3);
}

.color4.wall__title {
    background: var(--color-4);
}










.wall__section.experience {

    h1 {
        padding-top: 16px;
    }

    .experience {
        &__quest {
            min-height: 100px;
            display: flex;
            align-items: center;
            gap: 20px;

            border: 2px solid var(--color-gray);
            border-radius: 14px;
            padding: 16px;

            > .icon {
                background-size: 48px;
                width: 64px;
                height: 64px;
            }

            font-family: FiraSansBold, sans-serif;
            font-size: 1.25rem;

            &.locked {
                background: #f7f7f7;
                color: var(--color-grayer);
            }
        }
        
        &__side {
            height: 100%;
            flex: 1;
            gap: 6px;

            display: flex;
            align-items: stretch;
            flex-direction: column;
            justify-content: center;
        }

        &__progress {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2px;

            &__bar {
                height: 16px;
                flex: 1;
                border-radius: 8px 0 0 8px;
                overflow: hidden;
                background: var(--color-gray);
        
                &__fill {
                    height: 100%;
                    width: 0%;
                    border-radius: 8px;
                    overflow: hidden;
                    background: var(--color-3);
                    transition: width 0.15s ease-in-out;
        
                    &__highlight {
                        height: 4px;
                        margin: 0 8px;
                        margin-top: 4px;
                        border-radius: 8px;
                        background: var(--color-3);
                        filter: brightness(1.4);
                    }
                }
            }
        }
    }
}







.wall__section.course {


    .course {
        &__line {
            gap: 50px;
            display: flex;
            justify-content: center;
        }

        &__bundle {
            position: relative;
            width: 64px;

            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 6px;

            span {
                font-family: FiraSansBold, sans-serif;
                white-space: nowrap;
                text-align: center;
            }
            
            .icon {
                background-size: 24px;
            }
        
            button:disabled ~ span {
                color: var(--color-gray);
            }
        }
    }

}
































@media (max-width: 1280px) {
    
    main {
        padding: 24px;
        padding-left: calc(88px + 24px);
    }
}

@media (max-width: 960px) {
    main {
        padding-top: calc(58px + 24px);
    }
}

@media (max-width: 640px) {
    
    main {
        padding: 0;
        padding-top: 58px;
        padding-bottom: 90px;
    }

    .course__title {
        border-radius: 0;
    }

    .wall {
        // shrink 
        width: 100%;
        max-width: unset;
        min-width: unset;
    }
}




















