




main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: stretch;
    width: fit-content;
    margin: auto;

    // flex-direction: row;
    // align-items: center;
    // justify-content: center;

    
    // display: flex;
    // align-items: center;
    // flex-direction: row;

    // > * {
    //     margin: auto;
    // }
    // display: grid;
    padding: 24px;
}

.main-flex {
    padding-left: calc(256px + 24px);
    display: flex;
    align-items: flex-start;
    gap: 48px;

    > * { flex: 1; }
}

.wall {
    flex-basis: 600px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    &__title {
        background: #777777;
        width: 100%;
        padding: 30px 18px;
        border-radius: 14px;
        color: white;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        
        &__left {
            display: flex;
            flex-direction: column;
            h2 {
                padding-bottom: 12px;
            }
        }

        .flat-button { 
            width: 120px;
            min-width: 120px;
            height: 54px;
        }
    }

    &__content {
        padding: 30px 18px;

        gap: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__line {
            gap: 50px;
            display: flex;
            align-items: stretch;

            &.wide {
                gap: 80px;
            }
        }
    }

    &__bundle {
        width: 64px;

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 6px;

        span {
            font-family: FiraSansBold, sans-serif;
            white-space: nowrap;
            text-align: center;
        }
        
        .icon {
            background-size: 24px;
        }
    
        button:disabled ~ span {
            color: var(--color-gray);
        }
    }

    .half-flex {
        width: 32px;
    }

    .one-flex {
        width: 64px;
    }

}




.color1.course__title {
    background: var(--color-1);
}

.color2.course__title {
    background: var(--color-2);
}

.color3.course__title {
    background: var(--color-3);
}

.color4.course__title {
    background: var(--color-4);
}


