





main {
    padding: 24px;
    padding-left: calc(256px + 24px);

    display: flex;
    align-items: flex-start;
    gap: 48px;

    // // center
    // width: fit-content;
    // margin: auto;

    justify-content: center;

}

.wall {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 600px;
    max-width: 600px;
    min-width: 400px;

    &__title {
        background: #777777;
        width: 100%;
        padding: 30px 18px;
        border-radius: 14px;
        color: white;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        
        &__left {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .flat-button { 
            width: 120px;
            height: 54px;
        }
    }

    &__section {

        gap: 24px;
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }

    &__subsection {
        gap: 16px;
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
}




.color1.wall__title {
    background: var(--color-1);
}

.color2.wall__title {
    background: var(--color-2);
}

.color3.wall__title {
    background: var(--color-3);
}

.color4.wall__title {
    background: var(--color-4);
}










.wall__section.quests {

    h1 {
        padding-top: 16px;
    }

    .wall__subsection {
        h1 {
            padding-top: 16px;
        }
    
        font-family: FiraSansBold, sans-serif;
        font-size: 1.25rem;

        gap: 8px;
    
        .advancement {
            margin-top: 20px;
        }
    }
}







.wall__section.course {


    .course {
        &__line {
            gap: 50px;
            display: flex;
            justify-content: center;
        }

        &__bundle {
            position: relative;
            width: 64px;

            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 6px;

            span {
                font-family: FiraSansBold, sans-serif;
                white-space: nowrap;
                text-align: center;
            }
            
            .icon {
                background-size: 24px;
            }
        
            button:disabled ~ span {
                color: var(--color-gray);
            }
        }
    }

}















































