

aside {
    position: fixed;
    height: 100%;
    width: 256px;

    display: flex;
    flex-direction: column;

    background: white;
    border-right: solid 2px var(--color-gray);

    z-index: 20;

    nav {
        padding: 14px;
        width: 100%;

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            
            a {
                height: 52px;
        
                display: flex;
                align-items: center;
                flex-direction: row;
        
                border-radius: 12px;

                &.logo {
                    margin: 0 18px;
                    color: var(--color-1);
                    text-transform: none;
                    height: 60px;
                }
                
                &:not(.logo) {
                    padding: 0 18px;
                    gap: 18px;
            
                    > span {
                        flex: 1;
                    }
            
                    &:hover {
                        background: var(--color-gray);
                    }

                    &.active {
                        border: solid 2px var(--color-2);
                        background: rgba($color: #ffac5e, $alpha: 0.2);
                        color: var(--color-2);
                        padding: 0 16px;
                    }
                }
            }
        }
    }
}








