

.nav-aside {
    position: fixed;
    height: 100%;
    width: 256px;

    display: flex;
    flex-direction: column;

    background: white;
    border-right: solid 2px var(--color-gray);

    z-index: 20;

    nav {
        padding: 0 14px;
        width: 100%;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    li a {
        height: 52px;

        display: flex;
        align-items: center;
        flex-direction: row;

        border-radius: 12px;
        
        padding: 0 18px;
        gap: 18px;

        span {
            flex: 1;
        }

        &:hover {
            background: var(--color-gray);
        }

        &.active {
            border: solid 2px var(--color-2);
            background: rgba($color: #ffac5e, $alpha: 0.2);
            color: var(--color-2);
            padding: 0 16px;
        }

        .icon {
            min-width: 32px;
        }
    }
    
    .logo,
    .logo-small {
        display: flex;
        align-items: center;
        flex-direction: row;

        height: 32px;
        margin: 0 18px;
        color: var(--color-1);
        text-transform: none;
        margin: 24px 14px;
    }

    .logo-small {
        display: none;
    }
}























.nav-footer {
    display: none;
    position: fixed;
    height: 90px;
    width: 100%;
    bottom: 0;

    z-index: 20;

    background: white;
    border-top: 2px solid var(--color-gray);

    nav {
        height: 100%;
        width: 100%;
        padding: 0 6px;
    }

    ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    li {
        height: 100%;
        min-width: 0;
    }

    a {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .icon {
        background-size: 48px;
        width: 68px;
        height: 60px;
    }

    .active .icon {
        border-radius: 12px;
        border: solid 2px var(--color-2);
        background-color: rgba($color: #ffac5e, $alpha: 0.2);
        color: var(--color-2);
    }
}






@media (max-width: 1280px) {
    
    .nav-aside {
        width: 88px;
    }
	.nav-aside ul a {
        justify-content: center;
    }
	.nav-aside ul a span {
        display: none;
    }

    .nav-aside .logo-small {
        display: flex;
    }
    .nav-aside .logo {
        display: none;
    }
}

@media (max-width: 640px) {
    .nav-aside {
        display: none;
    }

	.nav-footer {
        display: block;
    }
}